<div class="wrapper" *ngIf="dataSource">


    <mat-card class="search-card">
        <mat-card-content>
            <div class="search-input-row">
                <mat-form-field class="search-input search-bar">
                    <mat-label>Search</mat-label>
                    <input type="text" matInput placeholder="Enter search criteria" (keyup)="doFilterChain()"
                           [(ngModel)]="userInput">
                </mat-form-field>
            </div>
            <div class="search-input-row">
                <mat-form-field class="search-input">
                    <mat-label>Select Genre</mat-label>
                    <mat-select (selectionChange)="doFilterChain()" [(ngModel)]="selectedGenre">
                        <mat-option *ngFor="let genre of genreList" [value]="genre">
                            {{genre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="search-input">
                    <mat-label>Select Director</mat-label>
                    <mat-select (selectionChange)="doFilterChain()" [(ngModel)]="selectedDirector">
                        <mat-option *ngFor="let director of directorList" [value]="director">
                            {{director}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="search-input">
                    <mat-label>Select Actor</mat-label>
                    <mat-select (selectionChange)="doFilterChain()" [(ngModel)]="selectedActor">
                        <mat-option *ngFor="let actor of actorList" [value]="actor">
                            {{actor}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="doReset()">
                <i class="fa-solid fa-ban"></i> Reset all search criteria
            </button>
        </mat-card-actions>
    </mat-card>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="movieId">
            <th mat-header-cell *matHeaderCellDef><i class="fa-solid fa-hashtag"></i> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.movieId}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title:</th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef> Start Date: </th>
            <td mat-cell *matCellDef="let element">
                {{utils.formatDate(element.startDate)}} <!-- Podsetnik na inline if -->
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions</th>
            <td mat-cell *matCellDef="let element">
                <a matButton [routerLink]="['/details/', element.movieId]">
                <i class="fa-solid fa-arrow-up-right-from-square"></i> Details
                </a>
                <a matButton> <!-- (click)="doAddFavorite()" -->
                    <i class="fa-solid fa-heart-circle-plus"></i> Favorite
                </a>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<app-loading *ngIf="!dataSource" />
