<div class="wrapper" *ngIf="movie">
    <div class="movie-content">
        <mat-card class="movie-card-img" appearance="outlined">
            <img mat-card-image [src]="movie.poster" [alt]="movie.originalTitle">
        </mat-card>

        <mat-card class="movie-card" appearance="outlined">
            <mat-card-content>
                <h1>{{movie.originalTitle}}</h1>
                <mat-chip-set aria-label="Chihuahua traits">
                    <mat-chip *ngFor="let genre of movie.movieGenres">{{genre.genre.name}}</mat-chip>
                </mat-chip-set>
                <p>Description: {{movie.description}}</p>

                <mat-list role="list">
                    <mat-list-item>
                        <p>Director: {{movie.director.name}}</p>
                    </mat-list-item>
                    <mat-list-item *ngFor="let actor of movie.movieActors">
                        <p>Actors: {{actor.actor.name}}</p>
                    </mat-list-item>
                    <mat-list-item>
                        <p>Start date: {{movie.startDate}}</p>
                    </mat-list-item>

                </mat-list>
            </mat-card-content>
        </mat-card>

        <div class="projection-container">
            <h1 style="width: 100%">Reviews </h1>
            <mat-card class="projection-card" appearance="outlined"*ngFor="let projection of projections">
                <mat-card-content>
                    <p>{{projection.date}}</p>
                    <p>Length: {{movie.runTime}} min</p>
                    <p>{{projection.type}}</p>
                    <br/>
                    <p>Price: {{projection.price}} RSD</p>
                    <p>Price: {{projection.projectionId}} ID</p>


                </mat-card-content>
                <mat-card-actions>
                    <a mat-button [routerLink]="['/details/'+movie.movieId+'/purchase/'+projection.projectionId]">
                        <i class="fa-solid fa-bookmark"></i> Reserve tickets
                    </a>
                </mat-card-actions>
            </mat-card>

        </div>


        <div class="projection-container">
            <h1 style="width: 100%">Upcoming Projections </h1>
            <mat-card class="projection-card" appearance="outlined"*ngFor="let projection of projections">
                <mat-card-content>
                    <p>{{projection.date}}</p>
                    <p>Length: {{movie.runTime}} min</p>
                    <p>{{projection.type}}</p>
                    <br/>
                    <p>Price: {{projection.price}} RSD</p>
                    <p>Price: {{projection.projectionId}} ID</p>


                </mat-card-content>
                <mat-card-actions>
                    <a mat-button [routerLink]="['/details/'+movie.movieId+'/purchase/'+projection.projectionId]">
                        <i class="fa-solid fa-bookmark"></i> Reserve tickets
                    </a>
                </mat-card-actions>
            </mat-card>

        </div>


    </div>


</div>

<app-loading *ngIf="!movie"></app-loading>
